:root ._dsp-flex{display:flex;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._w-300px{width:300px;}
:root ._ai-center{align-items:center;}
:root ._btc-137133827{border-top-color:var(--color-1);}
:root ._brc-137133827{border-right-color:var(--color-1);}
:root ._bbc-137133827{border-bottom-color:var(--color-1);}
:root ._blc-137133827{border-left-color:var(--color-1);}
:root ._btw-1316330362{border-top-width:var(--space-18);}
:root ._brw-1316330362{border-right-width:var(--space-18);}
:root ._bbw-1316330362{border-bottom-width:var(--space-18);}
:root ._blw-1316330362{border-left-width:var(--space-18);}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._fd-row{flex-direction:row;}